.hospital {
    border: 2px solid #eeeeee;
    margin-left: 160px;
    margin-right: 160px;
    padding-bottom: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 2px rgb(214, 222, 235, 0.5);
}


/* 
.hospital:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
} */